<div class="container">
    <div class="row">
        <div class="col-12 col-lg-6 mt-5 ">
            <h1><img src="assets\heading-sprinkles.png" alt="heading-sprinkles"><b> Hi, Mallikarjun here </b></h1>
            <br>
            <p class="mt-2"> I am currently working as a FrontEnd Developer at Montcrest Software Pvt. Ltd. &
                2022 Graduate in Mechanical Engg. from Shivajirao S. Jondhale College of Engineering. I consider myself
                as a motivated,
                diligent,
                and technically competent professional with sound experience in including development and debugging
                code. A techie who enjoys working with versatile technologies and is
                quick to learn and master them. Always eager to take on new challenges that will aid in my personal and
                professional development.</p>

            <button class="btn btn-primary mt-5">Download Resume</button>
        </div>

        <div class="col-12 col-lg-6 mt-5">
            <img src="https://www.ishajoglekar.in/assets/images/home/home-picture.png" alt="mypic" width="100%">
        </div>
    </div>
</div>
<br>
<!-- know me -->
<div class="container mt-5">
    <div class="cen">
        <div>
            <h2><img src="assets\heading-sprinkles.png" alt="sp">Know Me</h2>
            <p style="text-align: center;">You should know about the person you’re collaborating with, so here it
                goes...</p>
        </div>
        <br>
        <!-- img of my -->
        <img src="https://www.ishajoglekar.in/assets/images/home/home-picture.png" alt="mypic" width="500px">
        <br>
        <div>
            <h2>Mallikarjun A. Katare</h2>
            <b>FrontEnd Developer at Montcrest Software Pvt. Ltd.</b>
        </div>
    </div>

    <br>

    <div class="row ">
        <div class="col-12 col-lg-6 p-5">

            <b class="highlight-heading"> College</b>
            <p> Shivajirao S. Jondhale College of Engineering</p>
            <b> Phone</b>
            <p> (+91) 7678046810</p>
            <b> Citizenship</b>
            <p>Indian </p>
            <b> Age </b>
            <p> 23 years</p>

        </div>
        <div class="col-12 col-lg-6 p-5">
            <b>Department</b>
            <p>Information Technology</p>
            <b> Email</b>
            <p>mallikarjunkatare12@gmail.com</p>
            <b> Residence</b>
            <p>Kalyan, Dist.- Thane</p>
            <b>Interests</b>
            <p>Travelling </p>


        </div>
    </div>
</div>


<!-- my Skills -->
<div class="container mt-5">
    <div class="cen">
        <h2><img src="assets\heading-sprinkles.png" alt="sp">My Skills</h2>
        <p style="text-align: center;"> The backstage performers to my projects.</p>
    </div>

    <div>
        <div>
            <tabset>
                <tab heading="Programming Languages" id="tab1">
                    <div class="row">
                        <div class="col-12 col-lg-6 p-5">

                            <div> HTML
                                <div class="progress">
                                    <div class="progress-bar" style="width:90%">90%</div>
                                </div>
                            </div>
                            <br>
                            <div> CSS
                                <div class="progress">
                                    <div class="progress-bar" style="width:80%">80%</div>
                                </div>
                            </div>
                            <br>
                            <div> Javascript
                                <div class="progress">
                                    <div class="progress-bar" style="width:75%">75%</div>
                                </div>
                            </div>
                            <br>
                        </div>
                        <div class="col-12 col-lg-6 p-5">
                            <div> Angular
                                <div class="progress">
                                    <div class="progress-bar" style="width:80%">80%</div>
                                </div>
                            </div>
                            <br>
                            <div> Bootstrap
                                <div class="progress">
                                    <div class="progress-bar" style="width:85%">85%</div>
                                </div>
                            </div>
                            <br>
                            <div> JQuery
                                <div class="progress">
                                    <div class="progress-bar" style="width:77%">77%</div>
                                </div>
                            </div>

                        </div>
                    </div>

                </tab>
                <tab heading="Designing Skills">
                    <div class="col-12 col-lg-6 p-5">
                        <div> Adobe XD
                            <div class="progress">
                                <div class="progress-bar" style="width:85%">85%</div>
                            </div>
                        </div>
                    </div>

                </tab>
                <tab heading="Soft Skills">
                    <div class="row">
                        <div class="col-12 col-lg-6 p-5">
                            <div> Leadership
                                <div class="progress">
                                    <div class="progress-bar" style="width:85%">85%</div>
                                </div>
                            </div>
                            <br>
                            <div> Teamwork
                                <div class="progress">
                                    <div class="progress-bar" style="width:90%">90%</div>
                                </div>
                            </div>
                            <br>
                            <div> Communication Skills
                                <div class="progress">
                                    <div class="progress-bar" style="width:85%">85%</div>
                                </div>
                            </div>
                            <br>
                        </div>
                        <div class="col-12 col-lg-6 p-5">
                            <div> Problem Solving Skills
                                <div class="progress">
                                    <div class="progress-bar" style="width:85%">85%</div>
                                </div>
                            </div>
                            <br>
                            <div> Flexiility / Adaptability
                                <div class="progress">
                                    <div class="progress-bar" style="width:85%">85%</div>
                                </div>
                            </div>
                            <br>
                            <div>Interpersonal Skills
                                <div class="progress">
                                    <div class="progress-bar" style="width:90%">90%</div>
                                </div>
                            </div>

                        </div>

                    </div>
                </tab>
                <tab heading="Languages that I speak">
                    <div class="col-12 col-lg-6 p-5">
                        <div> English
                            <div class="progress">
                                <div class="progress-bar" style="width:85%">85%</div>
                            </div>
                        </div>
                        <br>
                        <div> Marathi
                            <div class="progress">
                                <div class="progress-bar" style="width:90%">90%</div>
                            </div>
                        </div>
                        <br>
                        <div> Hindi
                            <div class="progress">
                                <div class="progress-bar" style="width:85%">85%</div>
                            </div>
                        </div>
                        <br>
                        <div> Kannada
                            <div class="progress">
                                <div class="progress-bar" style="width:80%">80%</div>
                            </div>
                        </div>

                    </div>

                </tab>
            </tabset>
        </div>
    </div>
</div>



<!-- education -->

<div class="container mt-5">
    <div class="cen">
        <h2><img src="assets\heading-sprinkles.png" alt="sp">Education</h2>
        <p style="text-align: center;">Academics and Qualifications always count!</p>
    </div>

    <div >
        <div class="row">
           
            <div class="col-5 bor" >

                <h4> Batch Of 2015-16</h4>
                <br>
                <h5><b>NRC School </b> </h5>
                <br>
                <p class="type">Secondary School</p>
                <br>
                <p class="avg"> Avg. 73.00%</p>
            </div>
            <div class="col-2"><img src="assets\timeline.png" alt=""></div>
            <div class="col-5 bor">
                <h4> Batch Of 2015-16</h4>
                <br>
                <h5>NRC School </h5>
                <br>
                <p class="type">Secondary School</p>
                <br>
                <p class="avg"> Avg. 73.00%</p>
            </div>
        </div>
       
        

    </div>
</div>
